
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
    {{> header}}
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation" data-view="list">
        </nav>
    </div>
    <main class="mdl-layout__content">
        <button id="btn_table_show" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Button
        </button>
        <button id="btn_weather_show" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            ForeCast
        </button>
    </main>
    <table id="fruit_table"class="mdl-data-table mdl-js-data-table">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th>quantity</th>
                <th>unit price</th>
            </tr>
        </thead>
        <tfoot>
            {{totalPrice}}
            <tr>
                <td>합계</td>
                <td colspan="2">{{total}}</td>
            </tr>
        </tfoot>
        <tbody data-view="tdlist">
        </tbody>
    </table>
    <table id="weather_table"class="mdl-data-table mdl-js-data-table">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">일자</th>
            <th>온도</th>
        </tr>
        </thead>
        <tbody data-view="weatherlist">
        </tbody>
    </table>
</div>