
{{#each tdList}}
<tr>
    <td class="mdl-data-table__cell--non-numeric">{{name}}</td>
    <td>{{quantity}}</td>
    <td>{{price}}</td>
</tr>
{{/each}}
<tr>
    <td>합계</td>
    <td colspan="2">{{total}}</td>
</tr>