<main class="mdl-layout__content">
    <button data-btn="fruit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        과일
    </button>
    <button data-btn="weather" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        날씨
    </button>
    <div data-view="fruits"></div>
    <div data-view="weather"></div>
</main>